@model ArticleUpdateDto

<meta name="description" content="Başta Ankara, İstanbul, Samsun, Eskişehir, Konya gibi iller olmak üzere ülke sınırları içerisinde hukuki danışmanlık ve hukuk hizmeti vermekteyiz. Tüm davalarda hizmet vermekteyiz. Başlıca baktığımız davalar Ceza-Ağır Ceza davaları, Boşanma Davaları Aile Hukuku gibi alanlardır. Bize Ankara'da bulunan büromuzda mesai saatleri içerisinde ulaşabilirsiniz. Google haritalara Nurselanay ZENGİN hukuk ve danışmanlık merkezi yazdığınızda büromuza ulaşabilirsiniz ya da web sitemizdeki iletişim kısmından bizlere ulaşabilirsiniz." />
<meta name="keywords" content="Avukat Nurselenay ZENGİN" />
<meta name="keywords" content="Ankara Avukat" />
<meta name="keywords" content="Ankara ceza avukatı" />
<meta name="keywords" content="Ankara boşanma avukatı" />
<meta name="author" content="Onur KIRIK" />

@{
    ViewBag.Title = "Makale";
}

<div class="container mt-4 mb-4">
    <div class="col-1 d-none d-md-flex"></div>
    <div>
        <img id="articleBgImage" src="~/img/articleImg/articleBackGround.jpg" />
    </div>
    <h1 class="text-center my-4 display-4">@Model.Title</h1>
    <div class="d-flex flex-column-reverse flex-md-row" id="about">
        <div class="col">
            <p id="heroTitle" class="text-justify mt-4">
                @Model.Content
            </p>
        </div>
    </div>
</div>