@model ArticleUpdateDto
@{
    ViewBag.Title = Model.Title;
    ViewBag.Description = Model.Description.Length < 160 ? Model.Description : Model.Description.Substring(0, 160);
}

<article>
    <div class="container mt-4 mb-4">
        <div class="col-1 d-none d-md-flex"></div>
        <div>
            <img id="articleBgImage" src="~/img/articleImg/articleBackGround.jpg" />
        </div>
        <h1 class="text-center my-4 display-4">@Model.Title</h1>
        <div class="d-flex flex-column-reverse flex-md-row" id="about">
            <div class="col">
                <div class="text-justify mt-4">
                    @Html.Raw(Model.Content)
                </div>
            </div>
        </div>
    </div>
</article>

@await Component.InvokeAsync("SuggestArticle", new { articleId = Model.ID});