<section class="position-relative" style="height:calc(100vh - 64px)">
    <video autoplay loop muted class="w-100" style="object-fit:cover; object-position:center; height:calc(100vh - 64px)">
        <source src="~/video/lawVideo.mp4" type="video/mp4" />
    </video>

    <div class="hero-fade">
        <div class="container h-100 d-flex flex-column text-white pb-4">
            <div class="flex-grow-1"></div>
            <p class="display-4 text-uppercase">Kurucu Avukat</p>
            <p class="display-1">Av. Nurselenay ZENGİN</p>
            <p class="display-6">Uygulama Alanları</p>
            <p class="lead" style="color:#F0B823;">Ceza, ağır ceza, boşanma ve aile hukuku davalarında danışmanlık ve hukuki hizmet vermekteyiz.</p>
            <p id="about"></p>
            <p></p>
        </div>
    </div>
</section>

<div class="container mt-4 mb-4">
    <h1 class="text-center my-4 display-4">Biz Kimiz? </h1>
    <div class="d-flex flex-column-reverse flex-md-row" id="about">
        <div class="col">
            <p id="heroTitle" class="text-justify mt-4">
                İstanbul'da dünyaya gelen Nurselenay ZENGİN , lise öğrenimini Sinop Anadolu Öğretmen Lisesi’nde tamamlamıştır. Lise sonrası öğrenim dili %30 İngilizce olarak MEF Üniversitesi Hukuk Fakültesinden mezun olmuştur. Çeşitli uzmanlık alanına sahip hukuk bürolarında  yasal avukatlık stajını tamamlayan Avukat Nurselenay ZENGİN Ankara Barosuna kayıtlıdır. Özel hukuk ve Ceza Hukuku alanında çalışmalarına devam etmektedir.
                <br />
                <br />
                Başlıca çalışma alanı Aile Hukuku ve Ceza Hukuku olmakla birlikte İdare, Sigorta, Bilişim, Miras ve diğer hukuki alanlarda hizmet ve danışmanlık vermektedir. Şu anda kurucusu olduğu büroda danışmanlık ve hukuk hizmeti vermektedir.
                <br />
                <br />
                Çalışma saatleri içerisinde büroya gelebilir ya da iletişim kısmında yer alan numara ve mail adreslerinden bizlere ulaşabilirsiniz.
            </p>
        </div>
        <div class="col-1 d-none d-md-flex"></div>
        <div class="col col-md-auto d-flex">
            <img class="mx-auto shadow rounded-lg " width="250" height="300" src="~/img/selenay foto.jpg" />
        </div>
    </div>
</div>

<section id="practiseArea" class="container mb-4">
    <h1 class="display-4 text-center my-4">Çalışma Alanlarımız</h1>
    <p class="text-center mb-4">
        Hukuki alanda vermiş olduğumuz başlıca hizmetleri aşağıda görebilirsiniz. Bunların dışında sormak isteidğiniz herhangi bir konu veya danışmanlık için iletişim kısmında bulunan numaradan veya mail adresi üzerinden iletişime geçebilirsiniz. Mesai saatleri içerisinde büromuza gelebilirsiniz.
    </p>
    <div class="d-flex flex-row flex-wrap align-items-center justify-content-center">
        <div class="card .col-xs-6 .col-md-4 m-3 shadow" style="width: 18rem;">
            <img src="~/img/practiseAreas/agir-ceza-mahkemesi.jpg" class="card-img-top" alt="ceza-hukuku">
            <div class="card-body">
                <h5 class="card-title mt-1 mb-3 text-center fs-5 rounded-3">Ceza - Ağır Ceza Hukuku</h5>
                <p class="card-text">Ceza hukuku, bir insan davranışının hangi koşullarda suç oluşturacağı ve bunun karşılığında ne gibi ceza veya güvenlik yaptırımı uygulanacağını düzenleyen hukuk kurallarını içeren bir hukuk dalıdır.</p>
            </div>
        </div>
        <div class="card .col-xs-6 .col-md-4 m-3 shadow" style="width: 18rem;">
            <img src="~/img/practiseAreas/miras.jpg" class="card-img-top" alt="miras-hukuku">
            <div class="card-body">
                <h5 class="card-title mt-1 mb-3 text-center fs-5 rounded-3">Miras Hukuku</h5>
                <p class="card-text">Miras hukuku, miras bırakanın ölümü ile sona ermeyen hak ve borçlara ilişkin hukuki durumları düzenleyen hukuk dalıdır.</p>
            </div>
        </div>
        <div class="card .col-xs-6 .col-md-4 m-3 shadow" style="width: 18rem;">
            <img src="~/img/practiseAreas/idare.jpg" class="card-img-top" alt="idare-hukuku">
            <div class="card-body">
                <h5 class="card-title mt-1 mb-3 text-center fs-5 rounded-3">İdare Hukuku</h5>
                <p class="card-text">İdare hukuku  temeli anayasada belirlenen, idarenin faaliyet ve örgütlenmesine ilişkin kurallar öngören, kamuya tanınan üstünlük ve ayrıcalıklar ile bireye tanınan hak ve hürriyetlerin dengelenmesini sağlayan hukuk dalıdır.</p>
            </div>
        </div>
        <div class="card .col-xs-6 .col-md-4 m-3 shadow" style="width: 18rem;">
            <img src="~/img/practiseAreas/aile.jpg" class="card-img-top" alt="aile-hukuku">
            <div class="card-body">
                <h5 class="card-title mt-1 mb-3 text-center fs-4 rounded-3">Aile Hukuku</h5>
                <p class="card-text">Aile hukuku; aileye ilişkin her türlü konuyu düzenleyen, Türk Medeni Kanununda yer alan bir hukuk dalıdır. Aile hukuku özet olarak evlilik hukuku olarak da tanımlanabilir.</p>
            </div>
        </div>
        <div class="card .col-xs-6 .col-md-4 m-3 shadow" style="width: 18rem;">
            <img src="~/img/practiseAreas/ishukuku.jpg" class="card-img-top" alt="is-hukuku">
            <div class="card-body">
                <h5 class="card-title mt-1 mb-3 text-center fs-4 rounded-3">İş Hukuku</h5>
                <p class="card-text">İş hukuku; işçi ve işveren ilişkilerine dayanarak, işçi ve işverenin karşılıklı hak ve görevlerini, işe ve işyerine ilişkin yasa, yönetmelikleri konu alan hukuk dalıdır.</p>
            </div>
        </div>
        <div class="card .col-xs-6 .col-md-4 m-3 shadow" style="width: 18rem;">
            <img src="~/img/practiseAreas/sigorta-hukuku-1024x683-1.jpg" class="card-img-top" alt="sigorta-hukuku">
            <div class="card-body">
                <h5 class="card-title mt-1 mb-3 text-center fs-4 rounded-3">Sigorta Hukuku</h5>
                <p class="card-text">Sigorta ilişkisi içerisindeki tarafların birbirlerine karşı borç ve yükümlülüklerini gösteren, sigorta ilişkisini belirleyen, bu ilişkiden dolayı taraflar arasında uyuşmazlığın oluşması durumunda ne yapılacağını düzenleyen hukuk dalıdır.</p>
            </div>
        </div>
        <div class="card .col-xs-6 .col-md-4 m-3 shadow" style="width: 18rem;">
            <img src="~/img/practiseAreas/bilisim-hukuku (1).jpg" class="card-img-top" alt="bilisim-hukuku">
            <div class="card-body">
                <h5 class="card-title mt-1 mb-3 text-center fs-4 rounded-3">Bilişim Hukuku</h5>
                <p class="card-text">Ankara Bilişim Avukatı, bilişim araçlarıyla işlenmiş olan suçlarla karşı karşıya kalan insanlara, bu suç tipine karışan faillere hukuki yardım sağlar.</p>
            </div>
        </div>
        <div class="card .col-xs-6 .col-md-4 m-3 shadow" style="width: 18rem;">
            <img src="~/img/practiseAreas/arabulucu-foto.jpg" class="card-img-top" alt="arabuluculuk">
            <div class="card-body">
                <h5 class="card-title mt-1 mb-3 text-center fs-4 rounded-3">Arabuluculuk</h5>
                <p class="card-text">İhtiyari ve Zorunlu Arabuluculuk kapsamında büromuz hizmet vermektedir.</p>
            </div>
        </div>
    </div>
</section>

